<div style="background-color: white; margin-top: 0px;padding: 40px;">
  <div class="container">
    <div class="row jeev-font jeev-font-blue" style="text-align: center">
      <div class="col col-md-4">
        <p>
          <a href="/about_us">About Us</a>
        </p>
        <p>
          <a href="/contact_us">Contact Us</a>
        </p>
        <p>
          <a href="/jobs">Jobs</a>
        </p>
      </div>
      <div class="col col-md-4">
          <p>
              <a href="/culture">Our Culture</a>
            </p>
        <p>
          <a href="/price">Price</a>
        </p>
      </div>
      <div class="col col-md-4">
        <p>
          <a href="/about_us">Locations</a>
        </p>
      </div>
    </div>
    <hr style="border-color: orangered; border-width: 4px">
    <div style="text-align: center">
      <p class="jeev-font jeev-font-blue">Jeeveh | 2017 | NYC</p>
    </div>
  </div>
</div>